body {
    background-color: #081E33;
}
.contenedor-cero{
    padding-top: 30px;
  height: 10vh;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenedor-uno{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.salir{
    background-color: #107863;
    height: 10vh;
    margin-right: 30px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}


.logo {
   height: 10vh;
   width: 100px;
   
}

/* Media Queries para responsividad */
@media (max-width: 768px) {

}

@media (max-width: 576px) {
 
}
.contenedor-pimario{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.boton-prmario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.boton{
    width: 150px;
    background-image: url(../svg/fondo_card.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-bottom: 10px;
}

.icono{
    color: #fff;
    font-size: 50px;
}

.titulosh2{
 
    color: #fff;
    font-size: 20px;
}